/* Default theme - Dark */
body {
    background-color: #000000;
    font-family: sans-serif;
    font-weight: 300;
    color: #fff;
    overflow: scroll;
    margin-top: 44px;
    margin-bottom: 44px;
    margin-left: 15em;
    margin-right: 15em;
}

h1 {
    margin-top: 100px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 60px;
}

h2 {
    padding-bottom: 30px;
    text-align: center;
    font-size: 25px;
    font-weight: 400;
}

h3 {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
    text-align: center;
    font-weight: 500;
}

p {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: left;
}

p.info {
    text-align: left;
    font-size: 20px;
    color: #a6a6a6;
}

a.links {
    color: #8bc3ff;
    transition: all 200ms ease;
}

a.links:hover,
a.links:focus {
    color: #0063cc;
    transform: scale(1.4);
}

div.article-links-container {
    display: block;
    margin: 0 auto;
    width: 100%;
    padding: 20px;
    background-color: #222222;
    border-radius: 20px;
}

div.disclaimer-section {
    margin: 0 auto;
    width: 100%;
    padding: 20px;
    background-color: #222222;
    border-radius: 20px;
}

a.article-links {
    color: #8bc3ff;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    transition: all 200ms ease;
}

a.article-links:hover,
a.article-links:focus {
    color: #0063cc;
    text-decoration: underline;
    transform: scale(1.4);
}

/* Media Queries */
@media (max-width: 1100px) {
    body {
        margin-top: 44px;
        margin-left: 8em;
        margin-right: 8em;
    }

    p.info {
        text-align: left;
        font-size: 17px;
        color: #a6a6a6;
    }

    div.article-links-container {
        margin-bottom: 20px;
        display: block;
    }

    a.article-links {
        font-size: 20px;
        font-weight: 700;
        text-decoration: none;
        transition: all 200ms ease;
    }
}

@media (max-width: 768px) {
    body {
        margin-top: 44px;
        margin-left: 2em;
        margin-right: 2em;
    }

    h1 {
        margin-bottom: 30px;
        padding-bottom: 8px;
        font-size: 35px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 25px;
        font-weight: 600;
    }

    p.info {
        text-align: left;
        font-size: 15px;
        color: #a6a6a6;
    }

    div.article-links-container {
        margin-bottom: 10px;
        display: block;
    }

    a.article-links {
        font-size: 15px;
        font-weight: 700;
        text-decoration: none;
        transition: all 200ms ease;
    }
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #000000;
        font-family: sans-serif;
        font-weight: 300;
        color: #fff;
        overflow: scroll;
        margin-top: 44px;
        margin-bottom: 44px;
        margin-left: 15em;
        margin-right: 15em;
    }

    h1 {
        margin-top: 100px;
        padding-bottom: 15px;
        text-align: center;
        font-size: 60px;
    }

    h2 {
        padding-bottom: 30px;
        text-align: center;
        font-size: 25px;
        font-weight: 400;
    }

    h3 {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 25px;
        text-align: center;
        font-weight: 500;
    }

    p {
        padding-top: 8px;
        padding-bottom: 8px;
        text-align: left;
    }

    p.info {
        text-align: left;
        font-size: 20px;
        color: #a6a6a6;
    }

    a.links {
        color: #8bc3ff;
        transition: all 200ms ease;
    }

    a.links:hover,
    a.links:focus {
        color: #0063cc;
        transform: scale(1.4);
    }

    div.article-links-container {
        display: block;
        margin: 0 auto;
        width: 100%;
        padding: 20px;
        background-color: #222222;
        border-radius: 20px;
    }

    div.disclaimer-section {
        margin: 0 auto;
        width: 100%;
        padding: 20px;
        background-color: #222222;
        border-radius:  20px;
    }

    a.article-links {
        color: #8bc3ff;
        font-size: 20px;
        font-weight: 700;
        text-decoration: none;
        transition: all 200ms ease;
    }

    a.article-links:hover,
    a.article-links:focus {
        color: #0063cc;
        text-decoration: underline;
        transform: scale(1.4);
    }

    /* Media Queries */
    @media (max-width: 1100px) {
        body {
            margin-top: 44px;
            margin-left: 8em;
            margin-right: 8em;
        }

        p.info {
            text-align: left;
            font-size: 17px;
            color: #a6a6a6;
        }

        div.article-links-container {
            margin-bottom: 20px;
            display: block;
        }

        a.article-links {
            font-size: 20px;
            font-weight: 700;
            text-decoration: none;
            transition: all 200ms ease;
        }
    }

    @media (max-width: 768px) {
        body {
            margin-top: 44px;
            margin-left: 2em;
            margin-right: 2em;
        }

        h1 {
            margin-bottom: 30px;
            padding-bottom: 8px;
            font-size: 35px;
        }

        h2 {
            font-size: 20px;
        }

        h3 {
            font-size: 25px;
            font-weight: 600;
        }

        p.info {
            text-align: left;
            font-size: 15px;
            color: #a6a6a6;
        }

        div.article-links-container {
            margin-bottom: 10px;
            display: block;
        }

        a.article-links {
            font-size: 15px;
            font-weight: 700;
            text-decoration: none;
            transition: all 200ms ease;
        }
    }
}

/* Light theme */
@media (prefers-color-scheme: light) {
    body {
        background-color: #fff;
        font-family: sans-serif;
        font-weight: 300;
        color: #000;
        overflow: scroll;
        margin-top: 44px;
        margin-bottom: 44px;
        margin-left: 15em;
        margin-right: 15em;
    }

    h1 {
        margin-top: 100px;
        padding-bottom: 15px;
        text-align: center;
        font-size: 60px;
    }

    h2 {
        padding-bottom: 30px;
        text-align: center;
        font-size: 25px;
        font-weight: 400;
    }

    h3 {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 25px;
        text-align: center;
        font-weight: 500;
    }

    p {
        padding-top: 8px;
        padding-bottom: 8px;
        text-align: left;
    }

    p.info {
        text-align: left;
        font-size: 20px;
        color: #a3a3a3;
    }

    a.links {
        color: #4da3ff;
        transition: all 200ms ease;
    }

    a.links:hover,
    a.links:focus {
        color: #0063cc;
        transform: scale(1.4);
    }

    div.article-links-container {
        display: block;
        margin: 0 auto;
        width: 100%;
        padding: 20px;
        background-color: #eee;
        border-radius: 20px;
    }

    div.disclaimer-section {
        margin: 0 auto;
        width: 100%;
        padding: 20px;
        background-color: #eee;
        border-radius:  20px;
    }

    a.article-links {
        color: #4da3ff;
        font-size: 20px;
        font-weight: 700;
        text-decoration: none;
        transition: all 200ms ease;
    }

    a.article-links:hover,
    a.article-links:focus {
        color: #0063cc;
        text-decoration: underline;
        transform: scale(1.4);
    }

    /* Media Queries */
    @media (max-width: 1100px) {
        body {
            margin-top: 44px;
            margin-left: 8em;
            margin-right: 8em;
        }

        p.info {
            text-align: left;
            font-size: 17px;
            color: #a6a6a6;
        }

        div.article-links-container {
            margin-bottom: 20px;
            display: block;
        }

        a.article-links {
            font-size: 20px;
            font-weight: 700;
            text-decoration: none;
            transition: all 200ms ease;
        }
    }

    @media (max-width: 768px) {
        body {
            margin-top: 44px;
            margin-left: 2em;
            margin-right: 2em;
        }

        h1 {
            margin-bottom: 30px;
            padding-bottom: 8px;
            font-size: 35px;
        }

        h2 {
            font-size: 20px;
        }

        h3 {
            font-size: 25px;
            font-weight: 600;
        }

        p.info {
            text-align: left;
            font-size: 15px;
            color: #a6a6a6;
        }

        div.article-links-container {
            margin-bottom: 10px;
            display: block;
        }

        a.article-links {
            font-size: 15px;
            font-weight: 700;
            text-decoration: none;
            transition: all 200ms ease;
        }
    }
}