/* Default theme - Dark */
body {
    background-color: #000000;
    font-family: sans-serif;
    color: #ffffff;
    cursor: default;
    margin: 0 30px;
}

h1 {
    text-align: center;
    font-size: 6em;
    margin-top: 1em;
    margin-bottom: 1em;
}

p {
    text-align: left;
    font-size: 40px;
    font-weight: 500;
    padding: 0;
    margin: 1em;
}

.drop-cap {
    float: left;
    font-size: 2.9em;
    padding-right: 12px;
    font-weight: bold;
}

a {
    color: #8bc3ff;
    text-decoration: none;
    transition: all 0.5s;
}

a:hover,
a:focus {
    transform: scale(0.5); color: #007bff;
}

.leah-in-chinese-dress {
    display: block;
    margin: 0 auto;
    align-items: center;
    height: 600px;
    border-radius: 29px;
}

.leah-collection {
    display: block;
    margin: 0 auto;
    align-items: center;
    height: 500px;
    border-radius: 29px;
}

/* Media Queries */
@media (max-width: 1100px) {
    h1, p {
        margin-left: 1em;
        margin-right: 1em;
    }

    .leah-in-chinese-dress {
        display: block;
        margin: 0 auto;
        align-items: center;
        height: 500px;
    }

    .leah-collection {
        display: block;
        margin: 0 auto;
        align-items: center;
        height: 300px;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 60px;
        margin-bottom: 0.4em;
    }

    body {
        margin: 0;
    }

    p {
        font-size: 25px;
    }

    .leah-in-chinese-dress {
        display: block;
        margin: 0 auto;
        align-items: center;
        height: 300px;
    }

    .leah-collection {
        display: block;
        margin: 0 auto;
        align-items: center;
        height: 130px;
        border-radius: 15px;
    }
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #000000;
        font-family: sans-serif;
        color: #ffffff;
        cursor: default;
        margin: 0 30px;
    }

    h1 {
        text-align: center;
        font-size: 6em;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    p {
        text-align: left;
        font-size: 40px;
        font-weight: 500;
        padding: 0;
        margin: 1em;
    }

    .drop-cap {
        float: left;
        font-size: 2.9em;
        padding-right: 12px;
        font-weight: bold;
    }

    a {
        color: #8bc3ff;
        text-decoration: none;
        transition: all 0.5s;
    }

    a:hover,
    a:focus {
        transform: scale(0.5); color: #007bff;
    }

    .leah-in-chinese-dress {
        display: block;
        margin: 0 auto;
        align-items: center;
        height: 600px;
        border-radius: 29px;
    }

    .leah-collection {
        display: block;
        margin: 0 auto;
        align-items: center;
        height: 500px;
        border-radius: 29px;
    }

    /* Media Queries */
    @media (max-width: 1100px) {
        h1, p {
            margin-left: 1em;
            margin-right: 1em;
        }

        .leah-in-chinese-dress {
            display: block;
            margin: 0 auto;
            align-items: center;
            height: 500px;
        }

        .leah-collection {
            display: block;
            margin: 0 auto;
            align-items: center;
            height: 300px;
        }
    }

    @media (max-width: 768px) {
        h1 {
            font-size: 60px;
            margin-bottom: 0.4em;
        }

        body {
            margin: 0;
        }

        p {
            font-size: 25px;
        }

        .leah-in-chinese-dress {
            display: block;
            margin: 0 auto;
            align-items: center;
            height: 300px;
        }

        .leah-collection {
            display: block;
            margin: 0 auto;
            align-items: center;
            height: 130px;
            border-radius: 15px;
        }
    }
}

/* Light theme */
@media (prefers-color-scheme: light) {
    body {
        background-color: #fff;
        font-family: sans-serif;
        color: #000;
        cursor: default;
        margin: 0 30px;
    }

    h1 {
        text-align: center;
        font-size: 6em;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    p {
        text-align: left;
        font-size: 40px;
        font-weight: 500;
        padding: 0;
        margin: 1em;
    }

    .drop-cap {
        float: left;
        font-size: 2.9em;
        padding-right: 12px;
        font-weight: bold;
    }

    a {
        color: #8bc3ff;
        text-decoration: none;
        transition: all 0.5s;
    }

    a:hover,
    a:focus {
        transform: scale(0.5); color: #007bff;
    }

    .leah-in-chinese-dress {
        display: block;
        margin: 0 auto;
        align-items: center;
        height: 600px;
        border-radius: 29px;
    }

    .leah-collection {
        display: block;
        margin: 0 auto;
        align-items: center;
        height: 500px;
        border-radius: 29px;
    }

    /* Media Queries */
    @media (max-width: 1100px) {
        h1, p {
            margin-left: 1em;
            margin-right: 1em;
        }

        .leah-in-chinese-dress {
            display: block;
            margin: 0 auto;
            align-items: center;
            height: 500px;
        }

        .leah-collection {
            display: block;
            margin: 0 auto;
            align-items: center;
            height: 300px;
        }
    }

    @media (max-width: 768px) {
        h1 {
            font-size: 60px;
            margin-bottom: 0.4em;
        }

        body {
            margin: 0;
        }

        p {
            font-size: 25px;
        }

        .leah-in-chinese-dress {
            display: block;
            margin: 0 auto;
            align-items: center;
            height: 300px;
        }

        .leah-collection {
            display: block;
            margin: 0 auto;
            align-items: center;
            height: 130px;
            border-radius: 15px;
        }
    }
}
