/* Dark theme */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #000;
        margin-top: 44px;
        margin-left: 20em;
        margin-right: 20em;
        color: #fff;
    }
    
    h1 {
        text-align: center;
    }
    
    @media (max-width: 768px) {
        body {
            margin-left: 2em;
            margin-right: 2em;
        } 
    }
}