/* Default theme - Dark */
body {
    background-color: #000000;
    font-family: sans-serif;
    font-weight: 300;
    color: #fff;
    overflow: scroll;
    margin-top: 44px;
} 

h1 {
    text-align: center;
    font-size: 6em;
    margin-left: 30px;
    margin-right: 30px;
}

h3 {
    text-align: center;
    font-size: 3.1em;
    font-weight: 400;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 4em;
}

p {
    text-align: center;
    font-family: sans-serif;
    font-size: 80px;
    font-weight: 500;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1100px) {
    h1 {
        font-size: 3em;
    }

    h3 {
        font-size: 25px;
        font-weight: 500;
    }

    img {
        height: 290px;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 2em;
    }

    h3 {
        font-size: 20px;
        font-weight: 500;
    }

    img {
        height: 290px;
    }
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #000000;
        font-family: sans-serif;
        font-weight: 300;
        color: #fff;
        overflow: scroll;
        margin-top: 44px;
    } 

    h1 {
        text-align: center;
        font-size: 6em;
        margin-left: 30px;
        margin-right: 30px;
    }

    h3 {
        text-align: center;
        font-size: 3.1em;
        font-weight: 400;
        margin-left: 20px;
        margin-right: 20px;
        padding-bottom: 4em;
    }

    p {
        text-align: center;
        font-family: sans-serif;
        font-size: 80px;
        font-weight: 500;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    @media (max-width: 1100px) {
        h1 {
            font-size: 3em;
        }

        h3 {
            font-size: 25px;
            font-weight: 500;
        }

        img {
            height: 290px;
        }
    }

    @media (max-width: 768px) {
        h1 {
            font-size: 2em;
        }

        h3 {
            font-size: 20px;
            font-weight: 500;
        }

        img {
            height: 290px;
        }
    }
}

/* Light theme */
@media (prefers-color-scheme: light) {
    body {
        background-color: #ffffff;
        font-family: sans-serif;
        font-weight: 300;
        color: #000;
        overflow: scroll;
        margin-top: 44px;
    } 

    h1 {
        text-align: center;
        font-size: 6em;
        margin-left: 30px;
        margin-right: 30px;
    }

    h3 {
        text-align: center;
        font-size: 3.1em;
        font-weight: 400;
        margin-left: 20px;
        margin-right: 20px;
        padding-bottom: 4em;
    }

    p {
        text-align: center;
        font-family: sans-serif;
        font-size: 80px;
        font-weight: 500;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    @media (max-width: 1100px) {
        h1 {
            font-size: 3em;
        }

        h3 {
            font-size: 25px;
            font-weight: 500;
        }

        img {
            height: 290px;
        }
    }

    @media (max-width: 768px) {
        h1 {
            font-size: 2em;
        }

        h3 {
            font-size: 20px;
            font-weight: 500;
        }

        img {
            height: 290px;
        }
    }
}
