*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
    body {
        font-family: "Inter", sans-serif;
        font-weight: 300;
        overflow-y: scroll;
    }

    /* nav container */
    .nav-container {
        background: #191919;
        backdrop-filter: blur(10px);
        height: 44px;
        z-index: 300;
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
    }

    .nav-container nav {
        width: 800px;
        margin: 0 auto;
        padding: 0 8px;
        height: 100%;
    }

    a {
        cursor: default;
    }

    /* desktop nav */
    nav .desktop-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        list-style: none;
    }

    nav .desktop-nav li a {
        color: #ffffff;
        text-decoration: none;
        font-size: 16px;
        transition: all 400ms ease;
    }

    nav .desktop-nav li a:hover,
    nav .desktop-nav li a:focus {
        color: #8bc3ff;
        transform: scale(1.4);
    }
    
    /* logo */
    .link-logo {
        background: url(../img/logo-colored.svg);
        display: block;
        background-position: center;
        background-repeat: no-repeat;
        height: 44px;
        width: 40px;
    }
    
    /* Desktop Nav Animation */
    .desktop-nav li {
        transition: all 900ms ease;
    }
    
    /* media queries */
    @media (max-width: 1100px) {
        .nav-container nav {
            width: 70%;
            padding: 0 30px;
            transition: 200ms;
        }
    }
    
    @media (max-width: 768px) {
        .nav-container nav {
            width: 95%;
            padding: 0 30px;
            transition: 200ms;
        }
    }
}

/* Light theme */
@media (prefers-color-scheme: light) {
    body {
        font-family: "Inter", sans-serif;
        font-weight: 300;
        overflow-y: scroll;
    }
    
    /* nav container */
    .nav-container {
        background: #eee;
        backdrop-filter: blur(10px);
        height: 44px;
        z-index: 300;
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
    }
    
    .nav-container nav {
        width: 800px;
        margin: 0 auto;
        padding: 0 8px;
        height: 100%;
    }
    
    a {
        cursor: default;
    }

    /* desktop nav */
    nav .desktop-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        list-style: none;
    }
    
    nav .desktop-nav li a {
        color: #000;
        text-decoration: none;
        font-size: 16px;
        transition: all 400ms ease;
    }
    
    nav .desktop-nav li a:hover,
    nav .desktop-nav li a:focus {
        color: #0063cc;
        transform: scale(1.4);
    }
    
    /* logo */
    .link-logo {
        background: url(../img/logo-colored.svg);
        display: block;
        background-position: center;
        background-repeat: no-repeat;
        height: 44px;
        width: 40px;
    }
    
    /* media queries */
    @media (max-width: 1100px) {
        .nav-container nav {
            width: 70%;
            padding: 0 30px;
            transition: 200ms;
        }
    }
    
    @media (max-width: 768px) {
        .nav-container nav {
            width: 95%;
            padding: 0 30px;
            transition: 200ms;
        }
    }
}
